@page "/contato"

<h1>Contato</h1>

<p>Email: <a href="mailto:dev.victor.persike@gmail.com">dev.victor.persike@gmail.com</a></p>
<p>Telefone: +55 11 95705-7466</p>
<p>Site: <a href="https://www.victorpersike.dev.br">victorpersike.dev.br</a></p>
