@page "/contato"
@inject ContactViewModel ViewModel

<h1>Contato</h1>

@if (ViewModel.Contact is not null)
{
    <p>Email: <a href="mailto:@ViewModel.Contact.Email">@ViewModel.Contact.Email</a></p>
    <p>Telefone: @ViewModel.Contact.Phone</p>
    <p>Site: <a href="@ViewModel.Contact.Website">@ViewModel.Contact.Website</a></p>
}
else
{
    <p>⚠️ Carregando dados de contato...</p>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadContactAsync();
        InvokeAsync(StateHasChanged);
    }
}
