@page "/"

<h1>Meu Currículo</h1>

<ProfileCard />
<NavigationButton Label="Ver Experiências" Url="/experience" />
<NavigationButton Label="Ver Educação" Url="/education" />
<NavigationButton Label="Ver Contato" Url="/contato" />

<ExperienceList Experiences="@experienceViewModel.Experiences" />
<EducationList EducationItems="@educationViewModel.EducationList" />

<h2>Habilidades</h2>
<SkillList />

<h1>Textos Recebidos do Backend Mock</h1>

@code {
    [Inject] private ExperienceViewModel experienceViewModel { get; set; }
    [Inject] private EducationViewModel educationViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await experienceViewModel.LoadExperiencesAsync();
        await educationViewModel.LoadEducationAsync();
        InvokeAsync(StateHasChanged);
    }
}
