@page "/"

<ProfileCard />

<NavigationButton Label="Ver Experiências" Url="/experience" />
<NavigationButton Label="Ver Educação" Url="/education" />
<NavigationButton Label="Ver Contato" Url="/contato" />

<ExperienceList Experiences="@experienceViewModel.Experiences" />
<EducationList EducationItems="@educationViewModel.EducationList" />

<h2>Habilidades</h2>
<div class="skills">
    <SkillChart SkillName="C#" SkillLevel="60" />
    <SkillChart SkillName="React" SkillLevel="80" />
    <SkillChart SkillName="Blazor" SkillLevel="50" />
    <SkillChart SkillName="Azure" SkillLevel="30" />
</div>



@code {
    [Inject] private ExperienceViewModel experienceViewModel { get; set; }
    [Inject] private EducationViewModel educationViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await experienceViewModel.LoadExperiencesAsync();
        await educationViewModel.LoadEducationAsync();
        InvokeAsync(StateHasChanged);
    }
}
