@page "/"
@using AppMinhaPagina.Shared.Components.Organisms.Sections

<h1>Meu Currículo</h1>

<ProfileCard />

<ExperienceSection Experiences="ExperienceVM.Experiences.ToList()" />

<EducationSection Educations="EducationVM.Educations.ToList()" />

<h2>Habilidades</h2>
<SkillList />

<h1>Textos Recebidos do Backend Mock</h1>

@if (TextVM.Texts.Count == 0)
{
    <p>Carregando...</p>
}
else
{ 
    <ul>
        @foreach (var text in TextVM.Texts)
        {
            <li>
                <h3>@text.Title</h3>
                <p>@text.Body</p>
            </li>
        }
    </ul>
}
