<button class="btn-default" @onclick="HandleClick">
    @Text
</button>

@code {
    [Parameter] public string Text { get; set; } = "Botão";
    [Parameter] public EventCallback OnClick { get; set; }

    private async Task HandleClick()
    {
        if (OnClick.HasDelegate)
            await OnClick.InvokeAsync();
    }
}
