.nav-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .nav-btn:hover {
        background-color: #218838;
    }
