<div class="profile-container">
    <div class="profile-image">
        <img src="_content/AppMinhaPagina.Shared/images/profile.png" alt="Victor Persike" class="profile-pic" />
    </div>
    <div class="profile-info">
        <h2>Victor Persike</h2>
        <h3>Desenvolvedor Full-Stack</h3>
        <h2>Sobre Mim</h2>
        <p>
            Tenho 9 anos de experiência na área da educação, atuando na formação de professores e no ensino básico,
            com foco em treinamentos em oficinas maker. Em 2018, decidi mudar de carreira e me especializar no
            desenvolvimento front-end. Desde então, trabalhei com tecnologias como WordPress e Moodle, além de desenvolver
            projetos com Angular, Node.js, Ionic e Nz-Zorro. Mais recentemente, tenho me dedicado ao uso de React, C#, SQL Server e
            Azure DevOps. Além disso, venho expandindo meus conhecimentos em linguagens como Python e Go, explorando suas
            possibilidades em projetos pessoais e buscando novas oportunidades de aprendizado e inovação.
        </p>
    </div>
</div>
