@if (EducationList is not null && EducationList.Count > 0)
{
    @foreach (var edu in EducationList)
    {
        <div class="education-card">
            <h3>@edu.Course</h3>
            <h4>@edu.Institution (@edu.Period)</h4>
        </div>
    }
}
else
{
    <p>⚠️ Nenhuma formação encontrada.</p>
}

@code {
    [Parameter] public List<EducationModel> EducationList { get; set; }
}




