@if (Education is not null)
{
    <div class="education-card">
        <h3>@Education.Course</h3>
        <h4>@Education.Institution (@Education.Period)</h4>
    </div>
}
else
{
    <p>⚠️ Erro: Nenhuma formação recebida.</p>
}

@code {
    [Parameter] public EducationModel Education { get; set; }
}



