@using AppMinhaPagina.Shared.Models

<div class="education-card">
    <h3>@Education.Curso - @Education.Instituicao</h3>
    <span>@Education.Periodo</span>
    <p>@Education.Descricao</p>
</div>

@code {
    [Parameter] public Education Education { get; set; }
}
