@using AppMinhaPagina.Shared.Models

<div class="experience-card">
    <h3>@Experience.Cargo - @Experience.Empresa</h3>
    <span>@Experience.Periodo</span>
    <p>@Experience.Descricao</p>
</div>

@code {
    [Parameter] public Experience Experience { get; set; }
}
