.skill-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

    .skill-chart text {
        fill: #FFD700;
        font-size: 0.5rem;
        font-weight: 900;
        text-anchor: middle;
        dominant-baseline: middle;
    }
        

.skill-bg {
    fill: none;
    stroke: #808080;
    stroke-width: 4;
    opacity: 0.3;
}

.skill-progress {
    fill: none;
    stroke: #FFD700;
    stroke-width: 4;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease-in-out;
}

text {
    fill: #FFD700;
    font-size: 0.5rem;
    font-weight: bold;
}

p {
    color: #FFD700;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
}
